body {
    background-color: #EAEAEA;
    padding: 0;
    font-family: 'Inter';
    overscroll-behavior-x: none;
}

.navbar {
    background: #fff;
    margin-bottom : 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}

.nav-links {
    display: flex;
    width: 25%;
    justify-content: left;
    font-size: 1.25rem;
}

.nav-links a {
    text-decoration: none;
    color: #000B49;
    margin: 0 1rem;
}

.nav-links a:hover {
    color: #144B7E;
}

.logo {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 75%;
}

.logo:hover {
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    width: 25%;
    justify-content: right;
}

.nav-buttons button {
    margin: 0 0.5rem;
    border-radius: 100px;
    border: 3px solid #67F6D5;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    color: #000B49;
}

#login-button {
    background-color: #fff;
    transition: 200ms;
}

#login-button:hover {
    background-color: #67F6D5;
    cursor: pointer;
}

#signup-button {
    background-color: #67F6D5;
    border-style: none;    
    transition: 200ms;
}

#signup-button:hover {
    background-color: #fff;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#login-area {
    top: 0%;
    left: 0%;
    display: none;
    height: 300vh;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 20;
    background-color: #00000040;
}

.login-form {
    margin: 15rem;
    height: 45rem;
    width: 35rem;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form form {
    width: 70%;
    height: 80%;
}

#close-form {
    height: 1.5rem;
    position: relative;
    left: 26rem;
    top: -2.5rem;
}

#close-form:hover {
    cursor: pointer;
}

form h2 {
    margin-top: -2rem;
    font-size: 3rem;
}

form label {
    font-size: 1.25rem;
}

form input {
    appearance: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
    width: 95%;
    height: 1.5rem;
}

#forgot {
    text-align: right;
    font-size: 1rem;
    color: #2FCFAA;
}

.login-button {
    margin: 0.5rem;
    padding: 0.25rem 2rem;
    border-radius: 100px;
    width: 92.5%;
    color: #FFFFFF;
    border: 3px solid #67F6D5;
    font-size: 1.25rem;
    background-color: #67F6D5;
    box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: 500ms;
}

.login-button:hover {
    cursor: pointer;
    box-shadow: none;
}

.use-otp {
    background-color: #00000000;
    border: none;
    color: #2FCFAA;
    box-shadow: none;
    margin-top: 1rem;
}

.login-google {
    background-color: white;
    color: #2FCFAA;
    border: 2px solid #67F6D5;
    margin-top: 3rem;
}

.login-google img {
    height: 1rem;
    margin-right: 0.5rem;
}

form hr {
    appearance: none;
    border-top: 1px solid #1F70C1;
    margin-top: 2rem;
}

.signup-form form {
    width: 70%;
    height: 80%;
}

#signup-area {
    top: 0%;
    left: 0%;
    display: none;
    height: 300vh;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 20;
    background-color: #00000040;
}

.signup-form {
    margin: 15rem;
    height: 45rem;
    width: 35rem;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form h2 {
    margin-top: -3rem;
}

.signup-form .login-button {
    margin-top: 2rem;
}

.signup-form .login-google {
    background-color: white;
    color: #2FCFAA;
    border: 2px solid #67F6D5;
    margin-top: 3rem;
}

/* .job {
    padding: 2rem 3rem 2rem 3rem;
    width: 90%;
    margin: 8rem auto;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 0 1rem 0.5rem #00000020;
}

.job h2 {
    margin-top: 0;
    font-size: 2rem;
    color: #000B49;
    font-weight: 500;
    margin-bottom: 0;
}

.job h2 img {
    height: 2rem;
    margin-left: 1rem;
}

.job h3 {
    margin-top: 0;
    font-size: 1.75rem;
    color: #000B49;
    font-weight: 400;
} */


.job-card {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px 70px 20px 70px;
    padding: 20px;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.job-content {
    width: 100%;
}

.job-title {
    font-size: 24px;
    color: #2c3e50;
    margin: 0;
    margin-bottom: 10px;
}

.company-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.company-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-size: 18px;
    color: #34495e;
}

.job-info {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 10px;
}

.job-info span {
    margin-right: 15px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #7f8c8d;
}

.skills span {
    margin-right: 10px;
    margin-bottom: 5px;
}

.apply-btn {
    background-color: #1abc9c;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 14px;
}

.apply-btn:hover {
    background-color: #16a085;
}





